doctype html
html

  head
    title wyvern
    link(href='https://fonts.googleapis.com/css?family=Jura:500', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='vendor/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='css/style.css')

    
  body

    .main-content
      .cont
        nav(class='navbar navbar-inverse navbar-fixed-top') 
          .container
            ul(class='nav navbar-nav')
              li
                a(href='#about') About
              li
                a(href='https://soundcloud.com/stream') Soundcloud
              li
                a(href='https://github.com/mdhays/wyvern') Github

      .home

        .container
          
          .row
            
            .col-md-8

              h1 wyvern

              .input-group
                h3 Username
                input(type='text', name='name', class='form-control', id='name')
                h3 Message
                input(type='text', name='msg', class='form-control', id='msg')
                input(type='button', name='send', class='btn btn-default', id='send' value='send')

                div(id='messagebox')
                  h3 chats
                  ul(id='messages')

            .col-md-4

              h1 stream

              iframe(id='soundcloud_widget', src='//w.soundcloud.com/player/?url=https://api.soundcloud.com/tracks/31204641', width='420', height='120', frameborder='no')
            
              div(id='output')

              .input-group
                input(type='text', name='song', class='form-control' placeholder='ex: Pineapple Spaceship', id='song')
                input(type='button', name='songtitle', class='btn btn-default' value='Find', id='find')

      .page

        .container

          .row

            .col-md-4

            .col-md-4

              p(id='about') wyvern is a chat app focused around bringing Soundcloud artists and fans together. As an artist myself, I find it sad that there aren't built in features for actually communicating with fans who want to talk. My aim is to solve some of those problems and make it easier for conversations to happen.

            .col-md-4

    script(src='/vendor/jquery/dist/jquery.min.js')
    script(src="http://w.soundcloud.com/player/api.js")
    script(src='/vendor/socket.io-client/socket.io.js')
    script(src='/js/chats.js')
    script(src='/js/music.js')

    
    