html
  head

  body

    input(type='text', name='song', placeholder='ex: Pineapple Spaceship', id='song')
    input(type='button', name='songtitle', value='Find', id='find')
    ul(id='output')

    script(src='vendor/jquery/dist/jquery.min.js')
    script(src='/js/music.js')